{% extends '::base.html.twig' %}

{% block body -%}
    <h1>WeeklyPromptPoll</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{{ entity.dateStart }}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{{ entity.dateEnd }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('weeklypromptpoll') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('weeklypromptpoll_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
